<div name="contacto" id="contact-correcto"
class="flex vertical"
style="justify-items: center;align-items: center; aling-self:center"
>
    <span class="material-symbols-outlined">
    mark_email_read
    </span>
 <h2>¡Listo!</h2>
 <p>Recibimos tu contacto, nos comunicaremos contigo a la brevedad.</p>
</div>