                        <div id="campos-formulario">

                        <h4 style="grid-area: clasico;">Sobre el Clásico</h4>
                        <label>
                            <input name="contacto-marca" id="contacto-marca" class="caja input" type="text" placeholder="Marca"/>
                            <p>Marca</p>
                        </label>
                        <label>
                            <input name="contacto-modelo" id="contacto-modelo" class="caja input" type="text" placeholder="Modelo"/>
                            <p>Modelo</p>
                        </label>
                        <label>
                            <input name="contacto-ano" id="contacto-ano" class="caja input" type="number" placeholder="Año"/>
                            <p>Año</p>
                        </label>
                        <label>
                            <input name="contacto-uso" id="contacto-uso" class="caja input" placeholder="Uso"/>
                            <p>Uso</p>
                        </label>
                        <label>
                            <input name="contacto-uso" id="contacto-uso" class="caja input grande" placeholder="¿Cuanto pensás que vale tu clásico?"/>
                            <p>¿Cuanto pensás que vale tu clásico?</p>
                        </label>
                        <label>
                            <input name="contacto-uso" id="contacto-uso" class="caja input grande" placeholder="¿Qué uso le das a tu clásico?"/>
                            <p>¿Qué uso le das a tu clásico?</p>
                        </label>
                        <h4 style="grid-area: contacto;">Contacto</h4>
                        <label>
                            <input name="contacto-nombre" id="contacto-nombre" class="caja input" type="text" placeholder="Nombre"/>
                            <p>Nombre</p>
                        </label>
                        <label>
                            <input name="contacto-correo" id="contacto-correo" class="caja input" type="email" placeholder="Correo"/>
                            <p>Correo</p>
                        </label>
                        <label>
                            <input name="contacto-telefono" id="contacto-telefono" class="caja input" type="number" placeholder="Teléfono"/>
                            <p>Teléfono</p>
                        </label>
                        </div>